
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);  
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 1.5rem;
}

.info-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.info-box {
  padding: 1rem 2rem;
  font-weight: bold;
  background-color: #6c757d;
  color: #ffffff;
  border-radius: 5px;
  margin: 0 1rem;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.input {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 1.2rem;
  border: 2px solid #6c757d;
  border-radius: 5px;
  margin: 0 5px;
}

.button-container {
  margin-top: 2rem;
  align-items: center;
  height: 92%; 
}

.button {
  padding: 1rem 2rem;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.message {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: #28a745;
}
